# Global
NODE_ENV=development

# Database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=ucuzabak
POSTGRES_PASSWORD=ucuzabak
POSTGRES_DB=ucuzabak
DATABASE_URL=postgresql://ucuzabak:ucuzabak@postgres:5432/ucuzabak

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Elasticsearch
ELASTICSEARCH_HOST=http://elasticsearch:9200

# MinIO (S3 compatible)
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=ucuzabak-assets

# SMTP (Mailhog)
SMTP_HOST=mailhog
SMTP_PORT=1025

# API
API_PORT=4000
API_JWT_ACCESS_TOKEN_TTL=900
API_JWT_REFRESH_TOKEN_TTL=604800
API_JWT_SECRET=change-me-in-prod
AFFILIATE_IP_SALT=change-me-ip-salt

# Web
WEB_PORT=3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000/api/v1

# Worker
WORKER_NAME=ucuzabak-worker
