# build
node_modules
.next
dist
coverage

# env
.env
.env.*
!.env.example

# logs
*.log
pnpm-debug.log*

# worker compiled files
apps/worker/src/**/*.js
apps/worker/src/**/*.js.map

# backups
backup.sql
backup_*.sql

# system
.DS_Store

/apps/worker/imports/pending/**
/apps/worker/imports/processed/**
/apps/worker/imports/failed/**

!/apps/worker/imports/pending/.gitkeep
!/apps/worker/imports/processed/.gitkeep
!/apps/worker/imports/failed/.gitkeep